<!DOCTYPE html>
{% extends 'main/base.html' %}
{% load flatpages %}
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block content %}

{% include 'main/includes/header.html' %}
{% get_flatpages as flatpages %}
<ul>
      {% if turn_on_block == "False" %}
    {% for page in flatpages %}
        <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
    {% else %}
        <h2>Мы совершенствуемся и этому нет предела</h2>
    {% endif %}
</ul>
{% include 'main/includes/footer.html' %}

{% endblock %}
</html>
